@import 'compass';

/*************************************************

	Team: 	Yannick Losbar, Lucie Chen, Arnud Allouis, 
			Magalie Rivière, Lucien Landanger
	

*****************************************************/

html,body{
	background-color: black;
	height:100%;
}

.navbar{
	color:white;
	background-color: rgba(255,255,255,0.1);
}

.container-full,.box{
	height:100%;
}